.container {
	margin-top: 5%;
}

#chart {
	margin-top: 15%;
}

span#male {
	background-color: #22A7F0;
	border-radius: 50%;
	color: #fff;
	padding: 15%;
	font-size: 1.5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span#female {
	background-color: #DB0A5B;
	border-radius: 50%;
	color: #fff;
	padding: 15%;
	font-size: 1.5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}